<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ganga Technocast</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('nav') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Admin</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Admin</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3">
            <div class="services-list">
              <a href="/admin?pg=Quotes" class="<%= pg === 'Quotes' ? 'active' : '' %>">Quotes</a>
              <a href="/admin?pg=Gallery" class="<%= pg === 'Gallery' ? 'active' : '' %>">Gallery</a>
              <a href="/admin?pg=Messages" class="<%= pg === 'Messages' ? 'active' : '' %>">Messages</a>
              <a href="/admin?pg=Blog" class="<%= pg === 'Blog' ? 'active' : '' %>">Create Blog</a>
              <a href="/admin?pg=VBlog" class="<%= pg === 'VBlog' ? 'active' : '' %>">View All Blogs</a>
              <a href="/admin?pg=Edits" class="<%= pg === 'Edits' ? 'active' : '' %>">Change Reports</a>
            </div>
         </div>

          <div class="col-lg-9">
            
            <% if (pg == "Gallery") { %>
              <!-- Code to be executed if the condition is true -->
              <%- include('admin_gallery') %>
            <% } else if (pg == "Quotes") { %>
              <!-- Code to be executed if the condition is false -->
              <%- include('admin_quotes') %>
            <% } else if (pg == "Messages") { %>
              <!-- Code to be executed if the condition is false -->
              <%- include('admin_messages') %>
            <% } else if (pg == "Blog") { %>
              <!-- Code to be executed if the condition is false -->
              <%- include('admin_blog') %>
            <% } else if (pg == "VBlog") { %>
              <!-- Code to be executed if the condition is false -->
              <%- include('admin_vblog') %>
            <% } else if (pg == "Edits") { %>
              <!-- Code to be executed if the condition is false -->
              <%- include('admin_edits') %>
            <% } else { %>
              <!-- Code to be executed if the condition is false -->
            <% } %>
            
          </div>

        </div>

      </div>
    </section><!-- End Service Details Section -->
    
   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('footer') %>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- Tiny Script -->
  <script src="https://cdn.tiny.cloud/1/gn0jxl7c4ru4q6vhpqdqbolsc7vvs0mhw5q401gdz3lwrwah/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <script>
    // Get the file input element
    const fileInput = document.getElementById('file');
    


    // Add an event listener to the file input to handle the file selection
    fileInput.addEventListener('change', (event) => {
      const FileName = document.getElementById('imageName');
      const file = event.target.files[0];
      if (file) {
        // Convert the file to a Blob
        const blob = new Blob([file], { type: file.type });

        // Create a new FormData object and append the Blob to it
        const formData = new FormData();
        formData.append('file', blob, FileName.value);

        // Send the FormData object to the backend using Fetch API or XMLHttpRequest
        fetch('/admin', {
          method: 'POST',
          body: formData
        })
        .then((response) => {
          if (response.ok) {
            console.log('File uploaded successfully.');
            location.reload();
          } else {
            console.error('Error uploading file:', response.status);
          }
        })
        .catch((error) => {
          console.error('Error uploading file:', error);
        });
      }
    });
  </script>



  <!-- Tiny Config -->
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
    });
  </script>

</body>

</html>